@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f6;
}

/* Navbar */
.navbar {
  background-color: #f6f6f6;
}

.anggara {
  font-weight: bolder;
  font-size: 27px;
  margin-left: 30px;
}

.home_dll {
  margin-left: 650px;
  font-size: 18px;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: black;
}

/* Top Content */

.tb-top {
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  vertical-align: middle;
}

.description {
  height: 195px;
  margin: auto;
  color: black;
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 6px solid black;
  padding-bottom: 10px;
  margin-right: 50px;
}

.my_foto {
  width: 500px;
  border-radius: 50%;
}
